.mat-slider-horizontal {
  width: 300px;
}

.display {
  border-style: solid;
  border-color: cadetblue;
  padding: 15px;
  margin: 10px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}