<p>
old-home works!
</p>
<mat-nav-list>
			<mat-list-item routerLink="/home" (click)="close()">
				<mat-icon matListIcon>home</mat-icon>
				Home
			</mat-list-item>
      

			<mat-list-item routerLink="/datepicker" (click)="close()">
				<mat-icon matListIcon>update</mat-icon>
				Date Picker
			</mat-list-item>

      <mat-list-item routerLink="/radio" (click)="close()">
				<mat-icon matListIcon>radio_button_checked</mat-icon>
				Radio Button
			</mat-list-item>

      			<mat-list-item routerLink="/checkbox" (click)="close()">
				<mat-icon matListIcon>check_box</mat-icon>
				Checkbox
			</mat-list-item>
      

    			<mat-list-item routerLink="/addField" (click)="close()">
				<mat-icon matListIcon>view_agenda</mat-icon>
				Add Field
			</mat-list-item>

           			<mat-list-item routerLink="/slide-toggle" (click)="close()">
				<mat-icon matListIcon>toggle_on</mat-icon>
				Side-Toggle
			</mat-list-item>

      			<mat-list-item routerLink="/slider" (click)="close()">
				<mat-icon matListIcon>linear_scale</mat-icon>
				Slider
			</mat-list-item>

   
			<mat-list-item routerLink="/add" (click)="close()">
				<mat-icon matListIcon>add</mat-icon>
				Add
			</mat-list-item>

			<mat-list-item routerLink="/list" (click)="close()">
				<mat-icon matListIcon>list</mat-icon>
				List
			</mat-list-item>

			<mat-list-item routerLink="/validation" (click)="close()">
				<mat-icon matListIcon>list</mat-icon>
				Validation
			</mat-list-item>

      			<mat-list-item routerLink="/linear" (click)="close()">
				<mat-icon matListIcon>repeat</mat-icon>
				Linear
			</mat-list-item>

     			<mat-list-item routerLink="/min-max" (click)="close()">
				<mat-icon matListIcon>equalizer</mat-icon>
				Find Min Max Value
			</mat-list-item>

        <mat-list-item routerLink="/processstring" (click)="close()">
				<mat-icon matListIcon>string</mat-icon>
				Processing Strings
			</mat-list-item>
      

      <mat-list-item routerLink="/binarysort" (click)="close()">
				<mat-icon matListIcon>string</mat-icon>
			Binary Sort
			</mat-list-item>

			<mat-list-item (click)="snav.close()">
				<mat-icon matListIcon>cancel</mat-icon>
				Close
			</mat-list-item>
		</mat-nav-list>