<h1>Here's your results!</h1>


<mat-card>
  <h2>You seem stressed.</h2>
  <p>You have indicated that you have a higher level of stress than usual.</p>
  <p>Consider practising mediation for 5 minutes everyday, as this can relieve stress.</p>
</mat-card>

<mat-card>
  <h2>You have a higher level of contentment than usual!</h2>
  <p>You have indicated that you have a higher level of contentment than usual, good work!</p>
</mat-card>

<mat-card>
  <h2>You don't seem to get much sleep.</h2>
  <p>Sleep is extremely important to the body and mind functioning correctly. You currently are getting only 6 hours on average, which is 2 hours below what you should be getting. Consider going to bed earlier to ensure a healthier body and mind!</p>
</mat-card>

<img src="https://64.media.tumblr.com/935d9e140f4f9cbde00cbef480499c95/tumblr_plyyq9g7761qa8tmb_540.jpg">