
    <h2 class="example-h2">Slider configuration</h2>
<div class="display">
	<strong>Submitted value in the Register Form: </strong><br> 
{{this.formValues | json}}
</div>

<div fxLayout="row " fxLayoutGap="10px">
	<form fxFlex [formGroup]="registerForm" (ngSubmit)="onSubmit()">


    <mat-slider
        formControlName="sliderValue"
        class="example-margin"
        disabled="false"
        invert="false"
        max="200"
        min="1"
        step="1"
        thumbLabel="true"
        tickInterval="10"
        vertical="false">
    </mat-slider>
 

		<div class="register-but">
			<button fxFlex mat-raised-button>submit</button>
		</div>


	</form>
</div>