<h1> Angular Material Component Examples</h1>
<p><strong>REALLY GOOD ANGULAR RESOURCES&nbsp; (MUST VIEWS)</strong></p>

<div flex fxLayout="row wrap">



	<div class="box">
    
		<h3> Look and Feel with Angular Material</h3>
		<ul>
			<li>
				<a href="https://material.angular.io/" target="_blank">Angular Material</a>&nbsp; &nbsp; Use these components to build your application Interface. </li>

			<li>
				<a href="https://www.youtube.com/watch?v=EBnTZwr0RSs" target="_blank">Angular Material Custom Theme Tutorial</a>&nbsp; &nbsp; (Academind 12.30 mins)

			</li>


			<li>
				<a href="https://material.io/tools/icons/?icon=toggle_on&style=baseline" target="_blank">Angular Material Icons </a>
			</li>
			<li>
				<a href="https://www.youtube.com/watch?v=Q6qhzG7mObU" target="_blank">Angular Material Responsive Navigation Tutorial</a>&nbsp; &nbsp;(Academind -&nbsp;&nbsp;19 mins)
			</li>
			<li>
				<a href="https://tburleson-layouts-demos.firebaseapp.com/#/docs" target="_blank">
					Angular Material FLEX - Layout Demos </a>
			</li>
			<li>
				<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">A Complete Guide to Flexbox</a>

			</li>
			<li>
				<a href="https://flexboxzombies.com/p/flexbox-zombies" target="_blank">Flexbox zombies </a> is a brand new training course driven by a storyline where you use <strong>Flexbox</strong> and
				a <strong>crossbow</strong> to hunt zombies.
			</li>

			<li>
				<a href="http://recurship.com/blog/responsive-layouts-with-angular/flex-layout" target="_blank">Responsive Layouts with @angular/Flex-Layout</a>
</li>
	<li>
				<a href="https://stackoverflow.com/questions/51308613/angular-6-material-how-to-get-date-and-time-from-matdatepicker" target="_blank">Time Picker</a>
</li>

		</ul>
	</div>


	<div class="box">
		<h3> Coding with Angular 6</h3>
		<ul>
			<li>
				<a href="https://www.youtube.com/watch?v=JeeUY6WaXiA" target="_blank">Reactive Forms - The Basics</a>&nbsp;&nbsp;&nbsp;(Firebase-15mins)<span style="font-size: 12pt;"></span></li>
			<li>
				<a href="https://www.youtube.com/watch?v=Np3ULAMqwNo" target="_blank">Angular Router - The Basics and Beyond</a>&nbsp;&nbsp; (Firebase - 12 mins)</li>
			<li>
				<a href="https://www.youtube.com/watch?v=Tux1nhBPl_w&amp;t=9s" target="_blank">Observables, Observers &amp; Subscriptions | RxJS TUTORIAL&nbsp;&nbsp;</a> (Academind 17 mins)</li>

			<li>
				<a href="https://www.youtube.com/playlist?list=PLYxzS__5yYQlqCmHqDyW3yo5V79C7eaTe" target="_blank">Angular 6 Tutorials</a> (by codeman)</li>
		</ul>


	</div>
	<div class="box">
		<h3> Why Angular?</h3>
		<ul>
      	<li>
				<a href="https://angular-templates.io/tutorials/about/learn-angular-from-scratch-step-by-step" target="_blank">Angular Tutorial: Learn Angular from scratch step by step</a></li>
	
			<li>
				<a href="https://www.youtube.com/watch?v=51Nd_mTpugY" target="_blank">Progressive Web Apps with Angular</a>&nbsp;&nbsp; (Firebase - 17 mins)</li>
			<li>
				<a href="https://www.youtube.com/watch?v=KMX1mFEmM3E" target="_blank">Angular vs React.js vs Vue.js - My Thoughts&nbsp; </a>Academind -&nbsp;15 mins)</li>
		</ul>


	</div>


	<div class="box">
		<h3>Setup the Angular development environment</h3>
		<ul>
			<li>
				<a href="https://angular-templates.io/tutorials/about/learn-angular-from-scratch-step-by-step" target="_blank">Set up Angular 6 development environment on your own computer </a>

			</li>




			<li>
				<a href="https://nodejs.org/en/download/" target="_blank">Node.js (downlaod)</a>
			</li>

			<li>
				<a href="https://cli.angular.io/" target="_blank">Angular CLI (downlaod)</a>
			</li>

			<li>
				<a href="https://www.jetbrains.com/student/" target="_blank">Webstorm (educational free version) </a>
			</li>
      			<li>
				<a href="https://www.youtube.com/watch?v=YEGbHP7hszM" target="_blank">WebStorm IDE Comprehensive Tutorial</a>

			</li>
	




		</ul>


	</div>

</div>